.item {
    background: orange;
    border: 1px solid black;
    padding: 15px;
}

.flex-container {
    display: flex;
    background: purple;
    padding: 10px;
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-beetween {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around
}

.flex-evenly {
    justify-content: space-evenly
}


.flex-colum  {
    flex-direction: column;
   
}

.flex-align-item-top {
    height: 600px;
}


.flex-container-high {
    height: 600px;
    justify-content: space-between;
}
